* {
    box-sizing: border-box;
    /* margin: 5px; */
    max-width: 100%;
    font-family: 'Source Sans Pro', sans-serif;

}
body {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 110%;
}
.enter-icon {
    text-align: center;
}
.fa-chevron-down {
    color: black;
    font-size: 30px;
}
.brand-img {
    width: 50px;
    height: 40px;
}
.navbar {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin:0px auto;
}
.navbar-brand {
    padding:0px;
    margin: 0px 0px;
}
.navbar-toggler {
    padding: 0px !important;
}
.navbar-light .navbar-toggler {
    color: black !important;
    border-color: black !important;
    border: transparent !important;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.welcome-text {
    margin: 50px 10px;
    text-align: center;
}
.intro-statement {
    font-weight: bolder;
    /* font-size: 120%; */
}
.intro-line {
    font-weight: bolder;
    font-style: italic;
    /* font-size: 160% */
}
.container {
    /* margin: 10px; */
}
.main-content {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px;
    display: grid;
    padding-top: 70px
}
.about-me-image {
    border-radius: 50%;
    width: 40%;
    float: left;
    margin-right: 15px;
}
.sub-header {
    margin: 0px;
    font-size: 140%;
    font-weight: bolder;
    color: #0000ff;
    float:left;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
#projects-page, #landing-page, #about-me-page, #contact-page {
    padding-top: 86px;
}
.about-me-text {
    margin-left: 40px;
}
.featured-projects {
    display: none;
}
.carousel {
    margin-left: 40px;
}
.carousel-img {
    width: 100%;
    height: auto;
}
.carousel-item, .carousel-item-active {
    margin: 0px
}
.project-image {
    position: relative;
    max-width: 100%;
    max-height: 80%;
    display: block;
    margin: auto;
}
.blur {
    -webkit-filter: blur(3px)
}
.project-description {
    font-size: 80%;
    padding-bottom: 0px;
}
#contact-form {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-gap: 1rem;
    margin-left: 30px
}
footer {
    margin: 10px;
    background-color: black;
}
.footer {
    text-align: center;
    font-size: 80%;
    color: white
}
.linkedin-section {
    text-align: center
}
.fab {
    color:white;
    font-size: 30px
}
