* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    /* background-color: black; */
}
body {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 110%;
}
.index-body, .index-html {
    height: 100%
}
.container {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    /* background-color: black; */
}
.index-container {
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
}
.index-image {
    height: 100%;
    filter: blur(3px);
  -webkit-filter: blur(3px);
}
.welcome-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.enter-icon {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.fa-chevron-down {
    color: white;
    font-size: 30px;
    /* color: white; */
}
.intro-statement {
    font-size: 250%
}
.intro-line {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    text-align: center;
    /* margin-left: 18%; */
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #0000ff;
    /* //steps sets the frames, 25 is number of characters */
    animation: type 3s steps(25, end), blink .75s step-end infinite; 
    box-sizing: border-box;
}
@keyframes type { 
  from { 
      width: 0% 
    } 
   to {
       width: 100%
   }
}
@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #0000ff
    }
}

.about-me-text {
    margin: 15px;
    text-align: left;
}
.about-me-image {
    width: 30%;
    border-radius: 50%;
    float: left;
    margin: 15px;
}
.about-me-image:hover {
    filter: grayscale(80%)
}
.brand-img {
    width: 50px;
    height: 40px;
}
.navbar {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin:0px auto;
}
.navbar-brand {
    padding:0px;
    margin: 0px 0px;
}
.navbar-toggler {
    padding: 0px !important;
}
.navbar-light .navbar-toggler {
    color: black !important;
    border-color: black !important;
    border: transparent !important;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.nav-link:hover {
    color: #0000ff !important;
}
.switch input {
  position: absolute;
  opacity: 0;
}

/**
 * 1. Adjust this to size
 */

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: black;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.welcome-text {
    margin: 50px 10px;
    text-align: center;
}
.main-content {
    font-family: 'Source Sans Pro', sans-serif;
    /* margin: 10px; */
    display: grid;
    padding: 0;
    padding-top: 70px
}
.sub-header {
    justify-content: center;
    margin: 0px;
    font-size: 140%;
    font-weight: bolder;
    color: #0000ff;
}
#projects-page, #landing-page, #about-me-page, #contact-page, #skills-page {
    padding-top: 86px;
    text-align: center;
}
.skills-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.skill {
    color: black;
    font-size: 40px;
}
.featured-projects {
    display: none;
}
.carousel-img {
    width: 100%;
    height: auto;
}
.carousel-item, .carousel-item-active {
    margin: 0px
}
.project-image {
    position: relative;
    max-width: 100%;
    max-height: 80%;
    display: block;
    margin: auto;
}
.blur {
    -webkit-filter: blur(3px)
}
.project-description {
    font-size: 80%;
    padding-bottom: 0px;
}
#contact-form {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-gap: 1rem;
    margin: 10px 20px 10px 20px;
}
#form-button {
    border: 0.5px solid black;
    background-color: white;
    border-radius: 5%
}
#form-button:hover {
    transform: scale(0.9)
}
footer {
    background-color: black;
}
.footer {
    text-align: center;
    font-size: 80%;
    color: white
}
.linkedin-section {
    text-align: center
}
.fa-linkedin {
    color:white;
    font-size: 30px
}
