/* //use min when sizing up */
/* tablet/medium screens */
@media only screen and (min-width: 768px) {
  .menu-items {
    display: flex;
  }
  .menu-icon {
    display: none;
  }
  .intro-statement {
    font-size: 180%;
  }
  .intro-line {
    font-style: italic;
    font-size: 240%;
  }
}

/* desktop/large screens */
@media only screen and (min-width: 1024px) {
  .hidden {
    display: none;
  }
  #projects-page, #landing-page, #about-me-page, #contact-page {
    padding-top: 91px;
}
  .featured-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 0px;
    list-style-type: none;
    align-items: center;
  }
  .project1 {
    grid-column: 1/2;
  }
  .project2 {
    grid-column: 2/3;
  }
  .project3 {
    grid-column: 3/4;
  }
  .project-box {
    position: relative;
}
.project-title {
    position: absolute;
    bottom: 70px;
    left: 95px;
    color: white;
    text-align: center
}
.project-description-desktop {
    position: absolute;
    bottom: 5px;
    color: white;
    text-align: center;
    padding: 5px 10px;
}
.hide {
    display: none;
}
}
